.DS_Store
/target/
/bin/
.project
.metadata
.classpath
.settings/
build/
target/
Backend - Java/.DS_Store
Backend - Java/target/
Backend - Java/.project
Backend - Java/.metadata
Backend - Java/.classpath
Backend - Java/.settings/
Backend - Java/build/
Backend - Java/target/