<div class="container mt-4">
    <h2>Agregar Insumos al Producto</h2>
    <form (ngSubmit)="addInsumo(insumoForm)" #insumoForm="ngForm">
      <div class="form-group">
        <label for="insumo">Seleccionar Insumo</label>
        <select id="insumo" [(ngModel)]="selectedInsumo" name="insumo" required class="form-control">
          <option *ngFor="let insumo of insumos" [ngValue]="insumo">{{ insumo.nombre }}</option>
        </select>
        
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad</label>
        <input type="number" id="cantidad" [(ngModel)]="cantidad" name="cantidad" required class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Agregar Insumo</button>
      
    </form>
    <div *ngIf="errorMessage" class="alert alert-danger mt-2">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success mt-2">
      {{ successMessage }}
    </div>
  </div>
  