<div class="container mt-3">
    <div>
      <h2>Registrar Producto</h2>
      <form (ngSubmit)="registerProduct(registerForm)" #registerForm="ngForm">    
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" [(ngModel)]="producto.nombre" name="nombre" class="form-control" required>
        </div>
        
        <div class="form-group">
          <label for="fechaEnvasado">Fecha de Envasado:</label>
          <input type="date" id="fechaEnvasado" [(ngModel)]="producto.fechaEnvasado" name="fechaEnvasado" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="fechaVencimiento">Fecha de Vencimiento:</label>
          <input type="date" id="fechaVencimiento" [(ngModel)]="producto.fechaVencimiento" name="fechaVencimiento" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="precioVenta">Precio de Venta:</label>
          <input type="number" id="precioVenta" [(ngModel)]="producto.precioVenta" name="precioVenta" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="cantidadProductos">Cantidad de Productos:</label>
          <input type="number" id="cantidadProductos" [(ngModel)]="producto.cantidadProductos" name="cantidadProductos" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        <p>{{ errorMessage }}</p>
      </div>
      <div *ngIf="successMessage" class="alert alert-success mt-3">
        <p>{{ successMessage }}</p>
      </div>
    </div>
  </div>
  