<div>
    <h2>Edit User</h2>
    <form (ngSubmit)="saveInsumo(editForm)" #editForm="ngForm">    

      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="insumo.nombre" name="nombre" disabled>
      </div>
      <div>
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" [(ngModel)]="insumo.cantidad" name="cantidad" required>
      </div>
      <div>
        <label for="costo_unitario">Costo Unitario:</label>
        <input type="float" id="costo_unitario" [(ngModel)]="insumo.costo_unitario" name="costo_unitario">
      </div>
      <button type="submit">Save Changes</button>
    </form>
    <div *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>
    <div *ngIf="successMessage">
      <p>{{ successMessage }}</p>
    </div>
  </div>
  