<div>
  <h2>Registrar Insumo</h2>
  <form (ngSubmit)="register(registerForm)" #registerForm="ngForm">    

    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="insumo.nombre" name="nombre" required>
    </div>
    <div>
      <label for="cantidad">Cantidad:</label>
      <input type="text" id="cantidad" [(ngModel)]="insumo.cantidad" name="cantidad" required>
    </div>
    <div>
      <label for="costoUnitario">Costo Unitario:</label>
      <input type="number" id="costoUnitario" [(ngModel)]="insumo.costoUnitario" name="costoUnitario" required>
    </div>
    <button type="submit">Register</button>
  </form>
  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <div *ngIf="successMessage">
    <p>{{ successMessage }}</p>
  </div>
</div>
