<div>
    <h2>Edit Familia Productora</h2>
    <form (ngSubmit)="saveFamilia(editForm)" #editForm="ngForm">    

      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="familia.nombre" name="nombre" disabled>
      </div>
      <div>
        <label for="fechaInicio">Fecha de inicio:</label>
        <input type="date" id="fechaInicio" [(ngModel)]="familia.fechaInicio" name="fechaInicio" required>
      </div>
      <div>
        <label for="zona">Zona:</label>
        <input type="zona" id="zona" [(ngModel)]="familia.zona" name="zona">
      </div>
      <button type="submit">Save Changes</button>
    </form>
    <div *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </div>
    <div *ngIf="successMessage">
      <p>{{ successMessage }}</p>
    </div>
  </div>
  