<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>PermisoServlet</display-name>
    <servlet-name>PermisoServlet</servlet-name>
    <servlet-class>servlets.PermisoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermisoServlet</servlet-name>
    <url-pattern>/PermisoServlet</url-pattern>
  </servlet-mapping>
  <display-name>Sala</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>entityManager.AppContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>InsumoServlet</display-name>
    <servlet-name>InsumoServlet</servlet-name>
    <servlet-class>servlets.InsumoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsumoServlet</servlet-name>
    <url-pattern>/InsumoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CanalDeVentaServlet</display-name>
    <servlet-name>CanalDeVentaServlet</servlet-name>
    <servlet-class>servlets.CanalDeVentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanalDeVentaServlet</servlet-name>
    <url-pattern>/CanalDeVentaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MateriaPrimaServlet</display-name>
    <servlet-name>MateriaPrimaServlet</servlet-name>
    <servlet-class>servlets.MateriaPrimaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MateriaPrimaServlet</servlet-name>
    <url-pattern>/MateriaPrimaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecetaServlet</display-name>
    <servlet-name>RecetaServlet</servlet-name>
    <servlet-class>servlets.RecetaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecetaServlet</servlet-name>
    <url-pattern>/RecetaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioServlet</display-name>
    <servlet-name>UsuarioServlet</servlet-name>
    <servlet-class>servlets.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDeInsumoServlet</display-name>
    <servlet-name>ItemDeInsumoServlet</servlet-name>
    <servlet-class>servlets.ItemDeInsumoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDeInsumoServlet</servlet-name>
    <url-pattern>/ItemDeInsumoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
  <display-name>StockProductoTerminadoServlet</display-name>
  <servlet-name>StockProductoTerminadoServlet</servlet-name>
  <servlet-class>servlets.StockProductoTerminadoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>StockProductoTerminadoServlet</servlet-name>
  <url-pattern>/StockProductoTerminadoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
  <display-name>LoteServlet</display-name>
  <servlet-name>LoteServlet</servlet-name>
  <servlet-class>servlets.LoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LoteServlet</servlet-name>
  <url-pattern>/LoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
  <display-name>ItemDeMateriaPrimaServlet</display-name>
  <servlet-name>ItemDeMateriaPrimaServlet</servlet-name>
  <servlet-class>servlets.ItemDeMateriaPrimaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ItemDeMateriaPrimaServlet</servlet-name>
  <url-pattern>/ItemDeMateriaPrimaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
  <display-name>FamiliaProductoraServlet</display-name>
  <servlet-name>FamiliaProductoraServlet</servlet-name>
  <servlet-class>servlets.FamiliaProductoraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FamiliaProductoraServlet</servlet-name>
  <url-pattern>/FamiliaProductoraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
	 <servlet-name>jersey-servlet</servlet-name>
	 <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	 <init-param>
	 <param-name>javax.ws.rs.Application</param-name>
	 <param-value>config.AppConfig</param-value>
	 </init-param>
 </servlet>
 <servlet-mapping>
	 <servlet-name>jersey-servlet</servlet-name>
	 <url-pattern>/api/*</url-pattern>
 </servlet-mapping>
  
</web-app>